*{
    margin: 0;
    box-sizing: border-box;
    font-family: Sans-serif;
    scroll-behavior: smooth;
}


:root{
    --blue: darkblue;
    --white: white;
    --gray: rgba(0, 0, 0, 0.3);
}

header{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--blue);
    padding: 20px;
    z-index: 1;
}

header h1{
    text-align: center;
    color: var(--white);
}

#container{
    transform: translateY(70px);
    padding: 20px;
    width: 100%;
    margin-bottom: 60px;
    height: 400px;
    overflow-y: auto;
}

#container .chat-bot-response{
    background-color: var(--gray);
    border-bottom-left-radius: 20px;
    width: 200px;
    padding: 10px;
    line-height: 1.5;
    margin-left: 0;
    margin-top: 20px;
 }

#container .user-chat-message{
    background-color: var(--blue);
    border-top-right-radius: 20px;
    width: 200px;
    padding: 10px;
    color: var(--white);
    margin: 30px 0 0 auto;    
}

footer{
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer input[type="text"]{
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    position: relative;
}

span{
    border: none;
    background-color: var(--blue);
    padding: 18px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    position: absolute;
    right: 20px;
    z-index: 1;
}

.loading{
    transform: translateX(-50px);
}
